@page
@model HillerodSejlklub.Pages.UserPages.AvailableBoatsModel
@{
	ViewData["Title"] = "Available Boats";
}

<h1>Available Boats</h1>

<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Type</th>
			<th>Size</th>
			<th>Seats</th>
			<th>Year Built</th>
			<th>Price</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var boat in Model.AvailableBoats)
		{
			<tr>
				<td>@boat.Name</td>
				<td>@boat.Type</td>
				<td>@boat.Size</td>
				<td>@boat.Seats</td>
				<td>@boat.YearBuilt</td>
				<td>
					<a asp-asp-page="./BookBoat" asp-route-id="@boat.RegistrationNumber" class="btn btn-primary">Create Booking</a>
				</td>
			</tr>
		}
	</tbody>
</table>

<div class="container">
    <!--boat CARDS-->
    <div class="row row-cols-md-2 row-cols-lg-3">
        @foreach (var boat in Model.AvailableBoats)
        {
            <form method="post" asp-page-handler="Book" name="Book" id="Book">
                <div class="col">
                    <div class="card shadow-sm mt-3">
                        <div class="card-body text-start">

                            <h5 class="card-title text-center"><b>@boat.Name</b></h5>
                            <!--<img src="Media/boat.ImgPath" class="card-img-top" alt="boat Image">-->
                            <div class="row">
                                <div class="col mt-1">
                                    <p class="card-text">Antal sæder: @boat.Seats personer </p>
                                    <p class="card-text">Type: @(boat.Type)</p>
                                    <p class="card-text">Størrelse: @(boat.Size)</p>

                                </div>

                                <div class="col">
                                    <div class="d-flex justify-content-end gap-3 mt-2">
                                       @*  <input type="hidden" value="@Model.filterDate" name="dateboat" /> *@
                                        <input type="hidden" value="@boat.RegistrationNumber" name="idboat" />
                                        <button class="btn btn-outline-primary" title="Book">
                                            Book boat
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" row row-cols-auto row-cols-5">
                            @for (int i = 7; i < 17; i++)
                            {
                                @* var bgColor = Model.BookChecker(i, boat.ID) ? "color: red;" : "color: green;";
                                <div class="col text-center" style="@bgColor">
                                    <p>@i:00</p>
                                </div> *@
                            }
                        </div>
                    </div>
                </div>
            </form>


        }
    </div>
</div>